@import "variables";
@import "mixin";

/** Global & Component
========================================================================== */

* {
  font-family: $family;
  scroll-behavior: smooth;
}

h2 {
  @include font(title)
}

h3 {
  @include font(sub-title)
}

p {
  @include font(p)
}

ul {
  li {
    list-style: none;
    display: inline-block;
  }
}

.wrapper {
  width: $width;
  height: 100%;
  @include m-auto(0);
  padding: 0 nth($size, 2);
}

// a[class|="btn-"],
a[class^='btn'],
button[class^='btn'] {
  @include font();
  background: $primary;
  color: $white;
  border: none;
  padding: clamp(10px, 2vw, 15px) clamp(24px, 2vw, nth($size, 3));
  cursor: pointer;
  @include v-prefix(radius, nth($size, 4));

  &:hover {
    box-shadow: inset 0 10px 0 0 rgba(0, 0, 0, .2)
  }
}

.round-img {
  width: 100%;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
  @include v-prefix(radius, nth($size, 3));
}


/** 1. Cover
========================================================================== */

.head {
  @include flex(spaceCenter);
  width: $width;
  padding: nth($size, 2);
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 0;
  overflow: hidden;
  @include v-prefix(translateX, -50%);

  nav {
    @include flex(leftCenter);
    gap: nth($size, 4);

    li {
      margin-left: nth($size, 3);
    }
  }

  .menu-toggle {
    display: none;
    width: nth($size, 4);
    height: nth($size, 4);
    border: none;
  }


  @include media(tab) {
    nav {
      background-color: $blue;
      width: 290px;
      height: 100vh;
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      color: $white;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 nth($size, 5);
      visibility: hidden;
      @include v-prefix(translateX, 100vw);

      ul {
        padding: nth($size, 12) 0 0;
        width: 100%;

        li {
          display: block;
          width: 100%;
          text-align: left;
          margin-bottom: nth($size, 3);
        }
      }
    }

    .menu-toggle {
      @include bg('menu-open.svg');
      display: block;
      position: absolute;
      z-index: 999;
      top: nth($size, 3);
      right: nth($size, 2);
      visibility: visible;
      @include v-prefix(translateX, -100vw)
    }
  }

  &.active {
    overflow: visible;

    .menu-toggle {
      left: nth($size, 2);
      top: nth($size, 2);
      @include bg('menu-close.svg');
      @include v-prefix(translateX, 0);
    }

    nav {
      visibility: visible;
      @include v-prefix(translateX, 0);
    }
  }
}

.cover {
  background: $thirdary;
  height: clamp(790px, 20vw, 900px);

  p {
    @include font();
    width: min(100%, 440px)
  }

  a {
    margin: 0 15px;
  }

  .cover-content {
    @include flex(left, column);
    justify-content: center;
    height: 100%;
    position: relative;
    gap: clamp(nth($size, 3), 4vw, nth($size, 4));

    button {
      width: fit-content;
    }

    &:after {
      @include pseudo();
      @include bg('cover.png', transparent, right bottom);
      background-size: 100%;
      width: clamp(197px, 25vw, 400px);
      height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      aspect-ratio: 415/766;
      object-fit: cover;

      @include media(tab) {
        @include m-auto();
        background-position: center bottom;
        left: 0;
      }
    }
  }

  @include media(tab) {
    .cover-content {
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      padding: nth($size, 12) nth($size, 2);
    }
  }
}


/** 2. Contents
========================================================================== */

.contents {
  padding: clamp(nth($size, 4), 10vw, nth($size, 8)) 0;
}

.card-row {
  @include flex(spaceCenter);
  gap: clamp(nth($size, 4), 10vw, nth($size, 11));

  img {
    flex: 1 1 50%;
    width: min(50%, 660px);
  }

  .desc {
    flex: 1 1 50%;

    p {
      padding: clamp(nth($size, 2), 4vw, nth($size, 3)) 0;
    }

  }

  @include media(tab) {
    flex-direction: column;

    img {
      width: 100%;
    }
  }
}

.gallery {
  @include flex(center, column);
  gap: clamp(0px, 10vw, nth($size, 8));
  padding: clamp(nth($size, 6), 15vw, nth($size, 12)) 0 clamp(0px, 8vw, 90px);
  width: 100%;

  header {
    text-align: center;
    color: $primary;

    p {
      color: $black;
      padding: nth($size, 4) 0 0;
    }

    span {
      color: $primary;
    }
  }


  .gallery-carousel {
    @include flex(spaceCenter);
    width: 100%;
    gap: 72px;

    li {
      flex: 1 1 100%;
    }

    &::webkit-scrollbar {
      display: none;
    }
  }

  .desc {
    @include flex(spaceCenter);
    width: min(100%, 940px);
    gap: clamp(nth($size, 3), 4vw, nth($size, 5));

    @include media(tab) {
      flex-direction: column;
    }

    a {
      margin-left: auto;
    }
  }

  .btn-primary {
    flex: 1 0 fit-content;
  }

  @include media(tab) {
    gap: 0;

    .gallery-carousel {
      @include flex(leftCenter);
      gap: clamp(nth($size, 2), 4vw, nth($size, 7));
      width: calc(100% + nth($size, 4));
      margin: 0 -20px;
      overflow-x: scroll;
      padding: nth($size, 4) 0;

      li {
        display: inline-block;
        width: 200px;
        flex: 1 0 60%;

        &:first-child {
          margin-left: nth($size, 2);
        }

        &:last-child {
          margin-right: nth($size, 2);
        }
      }
    }
  }
}



/** subscribe
========================================================================== */

.subscribe {
  width: 100%;
  border: 1px solid transparent;
  height: clamp(240px, 30vw, 340px);
  position: relative;


  .subsc-form {
    @include flex(spaceCenter);
    @include m-auto(-100px);
    width: calc(100% - 40px);
    max-width: 1280px;
    background: $blue;
    color: $white;
    padding: clamp(nth($size, 3), 4vw, nth($size, 5));
    position: relative;
    z-index: 1;
    @include v-prefix(radius, nth($size, 3));

    p {
      padding: nth($size, 2) 0;
      color: $thirdary;
    }

    fieldset {
      position: relative;
      width: min(100%, 530px);
    }

    input {
      @include bg('mail.svg', #fff, 24px center, 24px);
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: clamp(50px, 4vw, 70px);
      padding-right: clamp(20px, 10vw, 160px);
      border: none;
      @include v-prefix(radius, nth($size, 6));

      &:focus {
        outline: none;
      }
    }

    button {
      position: absolute;
      top: 50%;
      right: 5px;
      @include v-prefix(translateY, -50%);
    }
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    @include bg('img_5.png');
    background-position: center top;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @include media(tab) {
    margin: 240px 0 0;

    .subsc-form {
      @include m-auto(-250px);
      flex-direction: column;

      input {
        font-size: clamp(12px, 3vw, 16px);
        background-position: 12px center;
      }

      button {
        margin: 20px 0 0;
        float: right;
        @include v-prefix(translateY, 0)
      }

      .btn-primary {
        position: relative;
      }
    }

  }
}

/** Modal
========================================================================== */

dialog {
  background: none;
  border: none;
  padding: 0;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: nth($size, 3);

  .modal {
    @include bg('particle.png');
    width: clamp(300px, 30vw, 400px);
    text-align: center;
    aspect-ratio: 6/4;
    object-fit: cover;
    gap: nth($size, 2);
    padding: nth($size, 4) 0 nth($size, 3);

    h3 {
      color: $primary;
      text-align: center;
    }

    h3::before {
      @include bg('hodu.png');
      @include m-auto(0px, nth($size, 2));
      content: '';
      display: block;
      width: nth($size, 6);
      height: nth($size, 6);
    }

    p {
      padding: nth($size, 2)
    }
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, .7)
  }
}


/** footer
========================================================================== */
footer {
  @include flex(spaceCenter);
  @include m-auto();
  width: $width;
  padding: nth($size, 5) nth($size, 2);

  .top-btn {
    @include bg('keyboard_arrow_up.svg', #fff);
    opacity: 0.6;
    position: fixed;
    z-index: 10;
    right: 32px;
    bottom: 32px;
    width: 50px;
    height: 50px;
    border: 1px solid #C4C4C4;
    @include v-prefix(radius, 50%);

    &:hover {
      opacity: 1;
    }
  }

  .btn-sns-list {
    li {
      float: left;
      margin-right: nth($size, 2)
    }

    .btn-sns {
      width: nth($size, 4);
      height: nth($size, 4);
      display: dlock;
      padding: 0;
    }
  }

  @for $i from 1 through 4 {
    .btn-sns-list li:nth-of-type(#{$i}) .btn-sns {
      @include bg('sns-#{$i}.svg', $secondary, center, 24px);
    }
  }

  @include media(tab) {
    gap: nth($size, 2);
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    padding: nth($size, 2);

    li {
      margin-right: nth($size, 1);
    }
  }
}