/**  Reset
========================================================================== */

:root {
  --primary: #6327FE;
  --secondary: #EAE8FE;
  --grey: #bdbdbd;
  --radius: 5px;
  --padding: 6px 10px;
}

* {
  box-sizing: border-box;
  word-break: break-all;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5;
}

body {
  background: #EAE8FE;
}

ul,
li {
  list-style: none;
}



/** Wrapper
========================================================================== */

.wrap {
  width: min(100%, 748px);
  margin: 0 auto 40px;
  display: flex;
  gap: 28px;
}



/** Component
========================================================================== */

h1 {
  width: clamp(188px, 40vw, 436px);
  aspect-ratio: 436/204;
  background: url('../img/logo.svg')no-repeat center/100%;
  background-clip: border-box;
  margin: 0 auto clamp(8px, 5vw, 67px);
  text-align: center;
}



/* Text */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}



/* Button */
button[class*=btn],
a[class*=btn] {
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  padding: 6px 0;
  text-decoration: none;
  text-align: center;
  color: inherit;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

button[class^=btn-ghost],
a[class^=btn-ghost] {
  background-color: #fff;
  color: #000;
}

button[class^=btn-primary],
a[class^=btn-primary] {
  background: var(--primary);
  color: #fff;
}



/* Input */
input:not([type=checkbox], [type=radio]) {
  font-family: inherit;
  border: 1px solid var(--grey);
  width: 100%;
  height: 32px;
  padding: 0 6px;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

input::placeholder {
  color: var(--grey);
  font-size: inherit;
  font-family: inherit;
}



/* Border-radius */
.calculate,
.order,
.order li {
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}



/** Machine
========================================================================== */

.cola-machine,
.cola-content {
  width: min(100%, 360px);
  flex-grow: 1;
}

.cola-machine {
  background-color: #fff;
  padding: 31px 27px;
}



/* Cola-machine-item */
.cola-machine-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 0 20px
}

.cola-machine-item button {
  font-family: inherit;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border: 3px solid transparent;
  position: relative;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cola-machine-item button:hover,
.cola-machine-item button.active {
  border: 3px solid var(--primary);
}

.cola-machine-item .soldout {
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  position: absolute;
  left: -3px;
  top: -3px;
  background: rgba(0, 0, 0, 0.8) url('../img/soldout.svg')no-repeat center/57px 44px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.cola-machine-item button[class^="machine-"] {
  margin: 0;
  padding: 0;
}

.item-img {
  width: 36px;
  height: 65px;
}

.item-price {
  background: var(--primary);
  color: #fff;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.item-name {
  font-size: 9px;
  margin: 0;
  color: #333;
  font-weight: 500;
}



/* order */
.order {
  margin: 0 0;
  padding: 12px 18px 12px 12px;
  background: var(--secondary);
  border: 1px solid var(--grey);
  overflow-y: overlay;
  height: 364px;
}

.order li {
  background: #fff;
  padding: var(--padding);
  display: flex;
  align-items: center;
  gap: 10px;
}

.order li:last-of-type {
  margin-bottom: auto;
}

.order li:not(:last-child) {
  margin-bottom: 6px;
}

.order li img {
  width: 18px;
  height: 33px;
}

.order li span {
  display: inline-block;
  flex-grow: 1;
  font-size: 9px;
  font-weight: 500;
  color: #333;
}

.order li input {
  width: 30px;
  text-align: center;
}


.order li input[type=number]:disabled {
  color: #000;
  background: #fff;
  appearance: none;
  font-size: 14px;
  font-weight: 700;
}

/* input disabled인 경우 카운터 숨김처리 */
.order li input[type=number]:disabled::-webkit-outer-spin-button,
.order li input[type=number]:disabled::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.order::-webkit-scrollbar {
  display: block;
  width: 12px;
}

.order::-webkit-scrollbar-thumb {
  background-color: #fff;
  width: 4px;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}



/* result */
.result {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 94px;
  grid-template-rows: 32px 32px 106px;
  gap: 12px;
}

.result .calculate {
  grid-area: 1 / 1 / 1 / 1;
}

.result .result-number {
  grid-area: 2 / 1 / 3 / 1;
}

.result .order {
  grid-area: 3 / 1 / 4 / 1;
  height: 100%;
  min-height: auto;
  gap: 6px;
}



/* calculate */
.calculate {
  height: 32px;
  background: var(--secondary);
  padding: var(--padding);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.calculate-price {
  flex-grow: 1;
  text-align: right;
  font-weight: 500;
}

.calculate-price.strong {
  font-weight: 700;
}


/* cola-content */

.cola-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.cola-content-money {
  background: #fff;
  padding: 9px 27px;
}



/* cola-content */
.cola-content-list {
  background: #fff;
  padding: 25px 27px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}

.cola-content-list h2 {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  text-align: center;
  margin: 0;
}

.cola-total {
  font-size: 12px;
  color: #000;
  text-align: right;
  margin: 0;
}



/** Media Query
========================================================================== */
@media (max-width: 768px) {

  body {
    background-color: #fff;
  }

  .wrap {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .cola-content {
    gap: 40px;
  }

  .cola-machine,
  .cola-content-money,
  .cola-content-list {
    padding: 0 27px;
  }

  .order li {
    border: 1px solid var(--grey)
  }

  .result .result-number {
    text-align: right;
  }
}