/** Reset
========================================================================== */
:root {
  --primary: rgba(47, 128, 237, 1);
  --border: solid #c4c4c4;
  --sprite: 138px 96px;
}

* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* input */
/* ✅ input 타입 등 요소에 height 넣지 말고 padding으로 유연하게 구현 */
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border: 1px var(--border);
  border-radius: 5px;
  font-size: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input::placeholder {
  font: inherit;
  color: #767676;
}

input[type=checkbox] {
  appearance: none;
  width: 22px;
  height: 22px;
  background: url('../img/retina_sprites.png') -106px -52px/var(--sprite);
  margin: 0 2px -5px;
}

input[type=checkbox]:checked {
  background: url('../img/retina_sprites.png') -106px -10px/var(--sprite);
}

input[type=checkbox]+label {
  color: #767676;
  cursor: pointer;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

fieldset+fieldset {
  margin-top: 10px;
}





/* button */
button {
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

a[class^="btn-lg-"],
button[class^="btn-lg-"] {
  width: 100%;
  font-size: 18px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

a[class^="btn-lg-ghost"],
button[class^="btn-lg-ghost"] {
  border: 1px solid #767676;
  font-size: 16px;
  color: #727272;
  padding: 15px 48px;
}

.btn-lg-primary {
  font-weight: bold;
  background-color: var(--primary);
  color: #fff;
  width: 100%;
}





/* Hidden */
legend,
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}



/** Wrap
========================================================================== */
.wrap {
  width: min(100%, 520px);
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px var(--border);
  border-radius: 10px;
  padding: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}





/** login-modal
========================================================================== */

.login-modal h1 {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 18px;
  border-bottom: 1px var(--border);
}

.login-modal .modal-close {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 6px;
  top: 6px;
}

.login-modal .modal-close::before,
.login-modal .modal-close::after {
  content: '';
  width: 16px;
  height: 1px;
  background-color: #767676;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
}

.login-modal .modal-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
}





/* login-form */
.login-form {
  padding: 24px;
}

.login-form h2 {
  font-weight: 500;
  font-size: 20px;
  padding: 0 0 24px;
  margin: 0;
}

.login-form .login-auto {
  padding: 6px 0 16px;
}

.login-form .login-btns {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
  gap: 12px;
}

.login-form .login-btns a {
  font-size: 14px;
  color: #767676;
}

.login-form .login-btns a:not(:first-child)::before {
  content: '|';
  color: #ddd;
  padding-right: 12px;
}





/* error message */

.inp-error {
  display: none;
  padding: 6px;
  font-size: 14px;
  line-height: 18px;
  color: #F4492E;
  text-align: left;
}

.login-form-field.error .inp-error {
  display: block;

}





/* login-sns */
.login-sns {
  padding: 0 24px 24px;
}

.login-sns h2 {
  margin: 0;
  padding: 20px 0;
  position: relative;
}

.login-sns h2::before,
.login-sns h2::after {
  position: absolute;
  left: 0;
  top: 0;
  inset: 0;
  margin: auto;
}

.login-sns h2::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

.login-sns h2::after {
  content: '또는';
  font-size: 14px;
  color: #727272;
  font-weight: 500;
  background: #fff;
  width: fit-content;
  height: fit-content;
  padding: 0 10px;
}

.login-sns-btns li {
  margin-top: 10px;
  position: relative;
}

.login-sns-btns a[class^="btn-lg-ghost"]::before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.login-sns-btns .btn-lg-ghost-google::before {
  background: url('../img/retina_sprites.png') -58px -10px/var(--sprite);
  /* background: url('../img/google.svg') no-repeat center left; */
}

.login-sns-btns .btn-lg-ghost-fb {
  border: 1px solid rgba(45, 156, 219, 1);
}

.login-sns-btns .btn-lg-ghost-fb::before {
  background: url('../img/retina_sprites.png') -10px -10px/var(--sprite);
  /* background: url('../img/facebook.svg') no-repeat center left; */
}

.login-sns-btns .btn-lg-ghost-naver {
  border: 1px solid rgba(0, 191, 24, 1);
}

.login-sns-btns .btn-lg-ghost-naver::before {
  background: url('../img/retina_sprites.png') -58px -58px/var(--sprite);
  /* background: url('../img/naver.svg') no-repeat center left; */
}

.login-sns-btns .btn-lg-ghost-kakao {
  border: 1px solid rgba(242, 201, 76, 1)
}

.login-sns-btns .btn-lg-ghost-kakao::before {
  background: url('../img/retina_sprites.png') -10px -58px/var(--sprite);
  /* background: url('../img/kakao.svg') no-repeat center left; */
}