table {
  caption-side: bottom;
  border-spacing: 0;
  padding: var(--gap1x) 0;
  border-collapse: collapse;
}

table span {
  display: block;
  font-weight: normal;
  opacity: 0.6;
}

table caption {
  padding: var(--gap1x) 0;
  color: #888;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
}


table th,
table td {
  padding: 20px 10px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: clamp(12px, 2vw, 16px);
}

table thead th,
table tbody th,
table .title {
  background-color: var(--fst);
  color: #fff;
}

.Box article table thead th,
.Box article table tbody th,
.Box article table .title {
  background-color: #1E3163;
}

.Box article:nth-of-type(odd) table thead th,
.Box article:nth-of-type(odd) table tbody th,
.Box article:nth-of-type(odd) table .title {
  background-color: #548CFF;
}