:root {
  --max-number: 100px;
  --max-width: 1000px;
  --padding: 10px;
}



article .items {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 24px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

article .items span {
  display: block;
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}



/* calc() 함수 사용 */
.atc1 {
  width: 100%;
}

.atc1 div {
  background-color: #A66CFF;
  width: 100%;
}

.atc1 ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.atc1 ul li {
  float: left;
  background-color: #AFB4FF;
  font-size: clamp(1rem, 2.5vw, 3rem);
  /* 100%에서 좌우 여백을 빼고 5로 나눠라 */
  width: calc((100% - (var(--padding)*3)) / 4);
}

.atc1 ul li+li {
  margin-left: var(--padding);
}

/*  min(),  max(), clamp() 함수 사용*/
.atc2 {
  width: 100%;
}

.atc2 .boxItems {
  display: flex;
  gap: var(--gap1x);
}

.atc2 div:nth-of-type(1) {
  /* width를 40%로 설정하지만 최대 600px 이하(min)로 제한 */
  width: min(40%, 600px);
  background-color: #9DC08B;
}

.atc2 div:nth-of-type(2) {
  /* width를 60%로 설정하지만 최소 200px 이상(max)으로 제한 */
  width: max(200px, 60%);
  background-color: #609966;
}

.atc2 ul li {
  background-color: #40513B;
  font-size: clamp(0.5rem, 2.5vw, 3rem);
}

.atc2 ul li:last-child {
  background-color: #ABC270;
  font-size: clamp(1.5rem, 5vw, 5rem);
}