:root {
  --foxSize: 300px;
}

/* 빔캠프 유튜브에서 본 body background 설정 */
body {
  background-image: url('images/bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

/* 요소 숨김 처리 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  width: min(100%, 240px);
  background: url('images/green.png')no-repeat #93572E 0 0/contain;
  color: #fff;
  position: relative;
  padding: 60px 20px 30px 20px;
  box-shadow: inset 0px -10px 0 #4A260B;
  border-radius: 0 0px 20px 20px;
  -webkit-border-radius: 0 0px 20px 20px;
  -moz-border-radius: 0 0px 20px 20px;
  -ms-border-radius: 0 0px 20px 20px;
  -o-border-radius: 0 0px 20px 20px;
  /* 가상요소에 높이가 생기므로 세로 중앙 정렬을 위해 margin 추가  */
  margin: var(--foxSize) 0 0;
}

article::before {
  content: "";
  background: url('images/animal07.png')no-repeat center/cover;
  width: var(--foxSize);
  height: var(--foxSize);
  position: absolute;
  left: 0;
  top: -300px;
}

article h2 {
  margin: 0;
}

article p {
  color: #D5C0B2;
}

article a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  background-color: #4A260B;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}