.flex-container-row {
  flex-direction: row;
}

.flex-container-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* flex container */
[class^=flex-container] {
  width: 100%;
  display: flex;
  gap: var(--gap1x);
}

.flex-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: cornflowerblue;
  padding: var(--gap2x) var(--gap1x);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.flex-item span {
  font-size: 0.8rem;
  font-weight: normal;
}

.flex-container:nth-child(odd) .flex-item {
  background-color: SkyBlue;
}

/* 박스 레이아웃 만들기 실습 */
.flex-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3) {
  justify-content: space-between;
}

.box:nth-child(3) {
  flex-direction: column-reverse;
}

.box .flex-item {
  flex-grow: 1;
}

.box .flex-item:first-child {
  background-color: #242F9B;
}

.box .flex-item:nth-child(2) {
  background-color: #646FD4;
}

.box .flex-item:last-child {
  background-color: #DBDFFD;
}

/* justify 실습 */
.jsutify .flex-container {
  position: relative;
  padding: var(--gap2x) 0;
  border-bottom: 1px dotted #ddd;
}

.jsutify .flex-container .flex-item {
  width: 15vw;
}


.center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

/* flex 비율 실습 */
.item1 .flex-item {
  background-color: LightGreen;
  min-width: 0;
}

.item1 .flex-item:nth-child(1) {
  flex-shrink: 0;
  flex-basis: 10vw;
  background-color: MediumAquaMarine;
}

.item2 .flex-item {
  flex-grow: 0;
}

.item2 .flex-item:last-child {
  background-color: cadetblue;
  flex-grow: 1;
}

.item3 .flex-item {
  flex-basis: 200px;
  flex-shrink: 1;
}

.item3 .flex-item:nth-child(1) {
  background-color: #2F8F9D;
  flex-basis: 40vw;
  flex-shrink: 0;
}