.grid {
  display: grid;
  gap: var(--gap1x);
}

/* [.atc1] Grid 기본 */
.atc1 .grid {
  /* 한 row 3개의 column을 반복  */
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: repeat(3, minmax(calc((100% / 3) - var(--gap2x)), 200px));

  /* 한 column에 2개의 row을 반복 */
  grid-template-rows: repeat(1, 1fr 1fr);
}

.atc1 .boxItems>* {
  background-color: #F6E195;
}

.atc1 .boxItems>*:nth-child(odd) {
  background-color: #EFA113;
}

/* [.atc2] auto fill || auto fit 활용 */
.autofill {
  grid-template-columns: repeat(auto-fill, minmax(120px, auto));
}

.autofit {
  grid-template-columns: repeat(auto-fit, minmax(0px, auto));
}

.atc2 .boxItems>* {
  background-color: #6CBC64;
}

.atc2 .boxItems>*:nth-of-type(odd) {
  background-color: #B4D4BC;
}

/* [.act3] grid-row || grid-column 활용 */
/* [.atc3] grid-area = /* row-start / column-start(span 병합 수) / row-end / column-end (span 병합 수)  */
.atc3 .grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.boxItems>* {
  background-color: #c4d2f1;
}

.atc3 .boxItems>*:nth-child(odd) {
  background-color: #5e6ca6;
}

.atc3 .boxItems>*:nth-child(1) {
  /* grid-row: 1/1;
  grid-column: 1/3; */
  /* grid-area: 1/1/2/3; */
  grid-area: 1/1/2/ span 2;
  background-color: #655DBB;
}

.atc3 .boxItems>*:nth-child(2) {
  grid-area: 2 / 2 / span 3 / 4;
  background-color: #BFACE2;
}



/* grid-template-areas 활용 */
.atc4 .grid {
  grid-template-rows: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "section section aside"
    "footer footer footer";
}

.atc4 .grid header {
  background-color: #F47C7C;
  grid-area: header;
}

.atc4 .grid section {
  background-color: #EF9F9F;
  grid-area: section;
}

.atc4 .grid aside {
  grid-area: aside;
  background-color: #FAD4D4;
}

.atc4 .grid footer {
  background-color: #FF8C8C;
  grid-area: footer;
}


/* [.atc5] Grid 레이아웃 실습 */
.atc5 .grid {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 100px);
}

.atc5 .boxItems>*:nth-of-type(1) {
  background-color: #826aed;
  grid-column: 1/4;
  grid-row: 1/3;
}

.atc5 .boxItems>*:nth-of-type(2) {
  background-color: #C879FF;
  grid-column: 4/6;
  grid-row: 1/4;
}

.atc5 .boxItems>*:nth-of-type(3) {
  background-color: #C879FF;
  grid-column: 1/3;
  grid-row: 3/4;
}

.atc5 .boxItems>*:nth-of-type(4) {
  background-color: #92B4EC;
  grid-column: 3/4;
  grid-row: 3/4;
}

.atc5 .boxItems>*:nth-of-type(5) {
  background-color: #01BAEF;
  grid-column: 1/3;
  grid-row: 4/6;
}

.atc5 .boxItems>*:nth-of-type(6) {
  background-color: #3F88C5;
  grid-column: 3/6;
  grid-row: 4/6;
}