* {
  box-sizing: border-box;
}

body {
  padding: 40px;
  background: #eee;
}



/* article 레이아웃 반복 */
article {
  background-color: #fff;
  padding: 40px;
  margin: 40px 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.grid {
  display: grid;
  gap: 20px;
}

.grid .g-item {
  color: #fff;
  text-align: center;
  padding: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}


/* [.atc1] Grid 기본 */
.atc1 .grid {
  /* 한 row 3개의 column을 반복  */
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: repeat(3, minmax(200px, 300px));

  /* 한 column에 2개의 row을 반복 */
  grid-template-rows: repeat(1, 1fr 1fr);
}

.atc1 .g-item {
  background-color: #F6E195;
}

.atc1 .g-item:nth-child(odd) {
  background-color: #EFA113;
}

/* [.atc2] auto fill || auto fit 활용 */
.autofill {
  grid-template-columns: repeat(auto-fill, minmax(80px, auto));
}

.autofit {
  grid-template-columns: repeat(auto-fit, minmax(0px, auto));
}

.atc2 .g-item {
  background-color: #6CBC64;
}

.atc2 .g-item:nth-child(odd) {
  background-color: #B4D4BC;
}

/* [.act3] grid-row || grid-column 활용 */
/* [.atc3] grid-area = /* row-start / column-start(span 병합 수) / row-end / column-end (span 병합 수)  */
.atc3 .grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.atc3 .g-item {
  background-color: #c4d2f1;
}

.atc3 .g-item:nth-child(odd) {
  background-color: #5e6ca6;
}

.atc3 .g-item:nth-child(1) {
  /* grid-row: 1/1;
  grid-column: 1/3; */
  /* grid-area: 1/1/2/3; */
  grid-area: 1/1/2/ span 2;
  background-color: #655DBB;
}

.atc3 .g-item:nth-child(2) {
  grid-area: 2 / 2 / span 3 / 4;
  background-color: #BFACE2;
}



/* grid-template-areas 활용 */
.atc4 .grid {
  grid-template-rows: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "section section aside"
    "footer footer footer";
}

.atc4 .grid header {
  background-color: #F47C7C;
  grid-area: header;
}

.atc4 .grid section {
  background-color: #EF9F9F;
  grid-area: section;
}

.atc4 .grid aside {
  grid-area: aside;
  background-color: #FAD4D4;
}

.atc4 .grid footer {
  background-color: #FF8C8C;
  grid-area: footer;
}


/* [.atc5] Grid 레이아웃 실습 */
.atc5 .grid {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 80px);
}

.atc5 .g-item:nth-child(1) {
  background-color: #826aed;
  grid-column: 1/4;
  grid-row: 1/3;
}

.atc5 .g-item:nth-child(2) {
  background-color: #C879FF;
  grid-column: 4/6;
  grid-row: 1/4;
}

.atc5 .g-item:nth-child(3) {
  background-color: #C879FF;
  grid-column: 1/3;
  grid-row: 3/4;
}

.atc5 .g-item:nth-child(4) {
  background-color: #92B4EC;
  grid-column: 3/4;
  grid-row: 3/4;
}

.atc5 .g-item:nth-child(5) {
  background-color: #01BAEF;
  grid-column: 1/3;
  grid-row: 4/6;
}

.atc5 .g-item:nth-child(6) {
  background-color: #3F88C5;
  grid-column: 3/6;
  grid-row: 4/6;
}